:root {
  --primary-bg: #e1dbcb;
  --primary-green: #222422;
  --primary-tekst: #454534;
  --primary-hover: #534243;
  --primary-h1: #000000;
}

#main-header {
  margin-top: 0px;
  background-color: var(--primary-bg);
  padding: 0rem;

}
#main-header a:hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: var(--primary-hover);
  font-style: italic; 
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  margin: 0%;
  padding: 0%;
}

ul li {
  margin: 15px;
}

h1 {
  justify-content: center;
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-weight: initial;
  font-size: 4rem;
}
#Logo2 {
  height: 100px;
  width: 100px;
  grid-column: 4;
  grid-row: 1;
  margin-top: 30px;
  margin-left: 10px;
}

#name {
  grid-column: 3;
}

#bobpic {
  margin-top: 0rem;
  background-image: url("Billeder/Bob.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  max-height: 350px;
  grid-column: 1 / 6;
  grid-row: 2;
}

#fronpagepic {
  margin-top: 0rem;
  background-image: url("Billeder/kloeverly.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  max-height: 350px;
  grid-column: 1 / 6;
  grid-row: 2;
}

#main-header ul {
  margin: 0px;
  display: flex;
  gap: 1.8rem;
  justify-content: right;
  list-style: none;
  margin-right: 5rem;
}

#grid-body {
  display: grid;
  margin-top: 0px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 140px 1fr;
  min-height: 200px;
}

h2 {
    font-size: 2.5rem;  
}


#grid-body-buttom {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
}

h2 {
  grid-row: auto;

}

#Main-text {
  justify-items: center;
  background-color: rgba(155, 255, 132, 0.345);
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.30);
  max-width: 600px;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.6;
  grid-column: 2 / 4;
}

footer {
  background-color: var(--primary-bg);
  text-align: center;
  padding: 2px;
  margin: 0%;
}
